In [1]:
import pandas as pd
import numpy as np

In [2]:
df_application_train = pd.read_csv('application_train.csv',header=0,error_bad_lines=False,index_col=['SK_ID_CURR'],nrows=5000)
df_previous_application = pd.read_csv('previous_application.csv',header=0,error_bad_lines=False,index_col=['SK_ID_CURR'],nrows=5000)
df_installment_payments = pd.read_csv('installments_payments.csv',header=0,error_bad_lines=False,index_col=['SK_ID_CURR'],nrows=5000)
df_bureau = pd.read_csv('bureau.csv',header=0,error_bad_lines=False,index_col=['SK_ID_CURR'],nrows=5000)
df_bureau_bal = pd.read_csv('bureau_balance.csv',header=0,error_bad_lines=False,index_col=0,nrows=5000)
df_pos_cash_bal = pd.read_csv('POS_CASH_balance.csv',header=0,error_bad_lines=False,index_col=['SK_ID_CURR'],nrows=5000)
df_credit_card_bal = pd.read_csv('credit_card_balance.csv',header=0,error_bad_lines=False,nrows=5000)

dflist = [df_application_train,df_previous_application,df_installment_payments,df_bureau,df_bureau_bal,df_pos_cash_bal,df_credit_card_bal]

In [3]:
df_previous_application = df_previous_application.drop(df_previous_application[df_previous_application['FLAG_LAST_APPL_PER_CONTRACT']=='N'].index)
df_previous_application = df_previous_application.drop(df_previous_application[(df_previous_application['AMT_APPLICATION']==0.0) & (df_previous_application['AMT_CREDIT']==0.0)].index)

In [4]:
df_previous_application[['RATE_DOWN_PAYMENT','RATE_INTEREST_PRIMARY','RATE_INTEREST_PRIVILEGED']] = df_previous_application[['RATE_DOWN_PAYMENT','RATE_INTEREST_PRIMARY','RATE_INTEREST_PRIVILEGED']].fillna(0.0)

In [5]:
df_prevapp_pivot = pd.pivot_table(df_previous_application,values=df_previous_application.columns,index='SK_ID_CURR',aggfunc={'SK_ID_PREV':(lambda x: len(x.unique())), 'NAME_CONTRACT_TYPE': (lambda x: len(x.unique())), 'AMT_ANNUITY':'sum', 'AMT_APPLICATION': 'sum',
       'AMT_CREDIT':'sum', 'AMT_DOWN_PAYMENT':'sum', 'AMT_GOODS_PRICE':'sum',
       'WEEKDAY_APPR_PROCESS_START':(lambda x: len(x.unique())), 'HOUR_APPR_PROCESS_START':np.mean,
       'FLAG_LAST_APPL_PER_CONTRACT':(lambda x: len(x.unique())), 'NFLAG_LAST_APPL_IN_DAY':(lambda x: len(x.unique())),
       'RATE_DOWN_PAYMENT':np.mean, 'RATE_INTEREST_PRIMARY':np.mean,
       'RATE_INTEREST_PRIVILEGED':np.mean, 'NAME_CASH_LOAN_PURPOSE':(lambda x: len(x.unique())),
       'NAME_CONTRACT_STATUS':(lambda x:x.map({'Approved':1,'Canceled':0,'Refused':0,'Unused offer':1}).mean()), 'DAYS_DECISION':np.mean, 'NAME_PAYMENT_TYPE':(lambda x: len(x.unique())),
       'CODE_REJECT_REASON':(lambda x: len(x.unique())), 'NAME_TYPE_SUITE':(lambda x: len(x.unique())), 'NAME_CLIENT_TYPE':(lambda x: len(x.unique())),
       'NAME_GOODS_CATEGORY':(lambda x: len(x.unique())), 'NAME_PORTFOLIO':(lambda x: len(x.unique())), 'NAME_PRODUCT_TYPE':(lambda x: len(x.unique())),
       'CHANNEL_TYPE':(lambda x: len(x.unique())), 'SELLERPLACE_AREA':(lambda x: len(x.unique())), 'NAME_SELLER_INDUSTRY':(lambda x: len(x.unique())),
       'CNT_PAYMENT':'sum', 'NAME_YIELD_GROUP':(lambda x: len(x.unique())), 'PRODUCT_COMBINATION':(lambda x: len(x.unique())),
       'DAYS_FIRST_DRAWING':'sum', 'DAYS_FIRST_DUE':'sum', 'DAYS_LAST_DUE_1ST_VERSION':'sum',
       'DAYS_LAST_DUE':'sum', 'DAYS_TERMINATION':'sum', 'NFLAG_INSURED_ON_APPROVAL':np.mean})

In [6]:
df_prevapp_pivot.head()

,AMT_ANNUITY,AMT_APPLICATION,AMT_CREDIT,AMT_DOWN_PAYMENT,AMT_GOODS_PRICE,CHANNEL_TYPE,CNT_PAYMENT,CODE_REJECT_REASON,DAYS_DECISION,DAYS_FIRST_DRAWING,...,NAME_YIELD_GROUP,NFLAG_INSURED_ON_APPROVAL,NFLAG_LAST_APPL_IN_DAY,PRODUCT_COMBINATION,RATE_DOWN_PAYMENT,RATE_INTEREST_PRIMARY,RATE_INTEREST_PRIVILEGED,SELLERPLACE_AREA,SK_ID_PREV,WEEKDAY_APPR_PROCESS_START
SK_ID_CURR,,,,,,,,,,,,,,,,,,,,,
100067,16164.000,450000.0,450000.0,0.0,450000.0,1,48.0,1,-496.0,0.0,...,1,NaN,1,1,0.000000,0.0,0.0,1,1,1
100124,7598.340,62491.5,62491.5,0.0,62491.5,1,12.0,1,-312.0,365243.0,...,1,0.0,1,1,0.000000,0.0,0.0,1,1,1
100151,6535.800,45000.0,55075.5,0.0,45000.0,1,12.0,1,-1041.0,365243.0,...,1,1.0,1,1,0.000000,0.0,0.0,1,1,1
100201,3828.555,38610.0,29610.0,9000.0,38610.0,1,10.0,1,-2424.0,365243.0,...,1,0.0,1,1,0.253867,0.0,0.0,1,1,1
100281,19021.005,360000.0,420912.0,0.0,360000.0,1,36.0,1,-969.0,365243.0,...,1,1.0,1,1,0.000000,0.0,0.0,1,1,1

In [7]:
df = df_application_train.merge(df_prevapp_pivot,on =['SK_ID_CURR'],suffixes=('_app_train','_prev_app'))

In [8]:
df.head()

,TARGET,NAME_CONTRACT_TYPE_app_train,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT_app_train,AMT_ANNUITY_app_train,AMT_GOODS_PRICE_app_train,...,NAME_YIELD_GROUP,NFLAG_INSURED_ON_APPROVAL,NFLAG_LAST_APPL_IN_DAY,PRODUCT_COMBINATION,RATE_DOWN_PAYMENT,RATE_INTEREST_PRIMARY,RATE_INTEREST_PRIVILEGED,SELLERPLACE_AREA,SK_ID_PREV,WEEKDAY_APPR_PROCESS_START_prev_app
SK_ID_CURR,,,,,,,,,,,,,,,,,,,,,
100124,0,Cash loans,M,N,Y,0,225000.0,448272.0,28647.0,396000.0,...,1,0.0,1,1,0.000000,0.0,0.0,1,1,1
100151,0,Cash loans,M,N,N,0,135000.0,182016.0,11772.0,144000.0,...,1,1.0,1,1,0.000000,0.0,0.0,1,1,1
100201,0,Cash loans,F,N,Y,1,180000.0,675000.0,36747.0,675000.0,...,1,0.0,1,1,0.253867,0.0,0.0,1,1,1
100281,0,Cash loans,F,N,Y,1,112500.0,675000.0,21906.0,675000.0,...,1,1.0,1,1,0.000000,0.0,0.0,1,1,1
100373,0,Cash loans,F,N,N,0,225000.0,906228.0,46269.0,810000.0,...,1,0.0,1,1,0.099458,0.0,0.0,1,1,1

In [9]:
df_bureau.columns

Index(['SK_ID_BUREAU', 'CREDIT_ACTIVE', 'CREDIT_CURRENCY', 'DAYS_CREDIT',
       'CREDIT_DAY_OVERDUE', 'DAYS_CREDIT_ENDDATE', 'DAYS_ENDDATE_FACT',
       'AMT_CREDIT_MAX_OVERDUE', 'CNT_CREDIT_PROLONG', 'AMT_CREDIT_SUM',
       'AMT_CREDIT_SUM_DEBT', 'AMT_CREDIT_SUM_LIMIT', 'AMT_CREDIT_SUM_OVERDUE',
       'CREDIT_TYPE', 'DAYS_CREDIT_UPDATE', 'AMT_ANNUITY'],
      dtype='object')

In [10]:
df_bureau_pivot = pd.pivot_table(df_bureau,values=df_bureau.columns,index='SK_ID_CURR',aggfunc={'SK_ID_BUREAU':'count','CREDIT_ACTIVE':'count','CREDIT_CURRENCY':(lambda x: len(x.unique())),'DAYS_CREDIT':np.min,'CREDIT_DAY_OVERDUE':'sum','DAYS_CREDIT_ENDDATE':'sum', 'DAYS_ENDDATE_FACT':'sum', 'AMT_CREDIT_MAX_OVERDUE':'sum', 'CNT_CREDIT_PROLONG':'sum', 'AMT_CREDIT_SUM':'sum','AMT_CREDIT_SUM_DEBT':'sum', 'AMT_CREDIT_SUM_LIMIT':'sum', 'AMT_CREDIT_SUM_OVERDUE':'sum',
       'CREDIT_TYPE':(lambda x: len(x.unique())), 'DAYS_CREDIT_UPDATE':np.min, 'AMT_ANNUITY':'sum'})

In [11]:
df_bureau_pivot.head()

,AMT_ANNUITY,AMT_CREDIT_MAX_OVERDUE,AMT_CREDIT_SUM,AMT_CREDIT_SUM_DEBT,AMT_CREDIT_SUM_LIMIT,AMT_CREDIT_SUM_OVERDUE,CNT_CREDIT_PROLONG,CREDIT_ACTIVE,CREDIT_CURRENCY,CREDIT_DAY_OVERDUE,CREDIT_TYPE,DAYS_CREDIT,DAYS_CREDIT_ENDDATE,DAYS_CREDIT_UPDATE,DAYS_ENDDATE_FACT,SK_ID_BUREAU
SK_ID_CURR,,,,,,,,,,,,,,,,
100568,23548.500,8178.885,834889.14,422599.50,0.00,0.0,0,7,1,0,2,-1274,663.0,-964,-1514.0,7
101060,0.000,0.000,816575.49,408874.32,0.00,0.0,0,4,1,0,2,-2632,-2090.0,-2539,-3443.0,4
101562,0.000,83329.740,2952412.92,1490476.50,8270.46,0.0,0,7,1,0,2,-1722,-122.0,-872,-2041.0,7
101616,3974.985,2728.035,2295117.00,0.00,0.00,0.0,0,3,1,0,2,-1205,-26.0,-1022,-1089.0,3
101724,0.000,0.000,354060.00,0.00,0.00,0.0,0,2,1,0,2,-871,60.0,-220,-233.0,2

In [12]:
df_installment_payments_pivot = pd.pivot_table(df_installment_payments,values=df_installment_payments.columns,index='SK_ID_CURR',aggfunc={'SK_ID_PREV':(lambda x: len(x.unique())),'NUM_INSTALMENT_VERSION':'sum', 'NUM_INSTALMENT_NUMBER':'sum','DAYS_INSTALMENT':'sum', 'DAYS_ENTRY_PAYMENT':'sum', 'AMT_INSTALMENT':'sum','AMT_PAYMENT':'sum'})

In [13]:
df_installment_payments_pivot['AMT_INSTAL_PAY_DIFF'] = df_installment_payments_pivot['AMT_INSTALMENT']-df_installment_payments_pivot['AMT_PAYMENT']
df_installment_payments_pivot['NUM_INSTAL_VERSION_NUM_DIFF'] = df_installment_payments_pivot['NUM_INSTALMENT_VERSION']-df_installment_payments_pivot['NUM_INSTALMENT_NUMBER']
df_installment_payments_pivot['DAY_INSTAL_ENTRY_DIFF'] = df_installment_payments_pivot['DAYS_INSTALMENT']-df_installment_payments_pivot['DAYS_ENTRY_PAYMENT']

In [14]:
df_installment_payments_pivot.head()

,AMT_INSTALMENT,AMT_PAYMENT,DAYS_ENTRY_PAYMENT,DAYS_INSTALMENT,NUM_INSTALMENT_NUMBER,NUM_INSTALMENT_VERSION,SK_ID_PREV,AMT_INSTAL_PAY_DIFF,NUM_INSTAL_VERSION_NUM_DIFF,DAY_INSTAL_ENTRY_DIFF
SK_ID_CURR,,,,,,,,,,
100009,8821.260,8821.260,-227.0,-214.0,3,1.0,1,0.00,-2.0,13.0
100012,5242.860,5242.860,-428.0,-387.0,4,3.0,1,0.00,-1.0,41.0
100042,4500.000,4342.500,-2495.0,-2482.0,3,0.0,1,157.50,-3.0,13.0
100100,483.345,483.345,-243.0,-243.0,114,0.0,1,0.00,-114.0,0.0
100128,3713.490,3.510,-1998.0,-1948.0,3,1.0,1,3709.98,-2.0,50.0