In [1]:
import pandas as pd
import numpy as np

In [2]:
df_application_train = pd.read_csv('application_train.csv',header=0,error_bad_lines=False,index_col=['SK_ID_CURR'])
df_previous_application = pd.read_csv('previous_application.csv',header=0,error_bad_lines=False,index_col=['SK_ID_CURR'])
df_installment_payments = pd.read_csv('installments_payments.csv',header=0,error_bad_lines=False,index_col=['SK_ID_CURR'])
df_bureau = pd.read_csv('bureau.csv',header=0,error_bad_lines=False,index_col=['SK_ID_CURR'])
df_bureau_bal = pd.read_csv('bureau_balance.csv',header=0,error_bad_lines=False,index_col=0,nrows=5000)
df_pos_cash_bal = pd.read_csv('POS_CASH_balance.csv',header=0,error_bad_lines=False,index_col=['SK_ID_CURR'],nrows=5000)
df_credit_card_bal = pd.read_csv('credit_card_balance.csv',header=0,error_bad_lines=False,nrows=5000)

dflist = [df_application_train,df_previous_application,df_installment_payments,df_bureau,df_bureau_bal,df_pos_cash_bal,df_credit_card_bal]

/home/nervster/anaconda3/lib/python3.6/site-packages/numpy/lib/arraysetops.py:472: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

In [3]:
df_previous_application = df_previous_application.drop(df_previous_application[df_previous_application['FLAG_LAST_APPL_PER_CONTRACT']=='N'].index)
df_previous_application = df_previous_application.drop(df_previous_application[(df_previous_application['AMT_APPLICATION']==0.0) & (df_previous_application['AMT_CREDIT']==0.0)].index)

In [4]:
df_previous_application[['RATE_DOWN_PAYMENT','RATE_INTEREST_PRIMARY','RATE_INTEREST_PRIVILEGED']] = df_previous_application[['RATE_DOWN_PAYMENT','RATE_INTEREST_PRIMARY','RATE_INTEREST_PRIVILEGED']].fillna(0.0)

In [5]:
df_prevapp_pivot = pd.pivot_table(df_previous_application,values=df_previous_application.columns,index='SK_ID_CURR',aggfunc={'SK_ID_PREV':(lambda x: len(x.unique())), 'NAME_CONTRACT_TYPE': (lambda x: len(x.unique())), 'AMT_ANNUITY':'sum', 'AMT_APPLICATION': 'sum',
       'AMT_CREDIT':'sum', 'AMT_DOWN_PAYMENT':'sum', 'AMT_GOODS_PRICE':'sum',
       'WEEKDAY_APPR_PROCESS_START':(lambda x: len(x.unique())), 'HOUR_APPR_PROCESS_START':np.mean,
       'FLAG_LAST_APPL_PER_CONTRACT':(lambda x: len(x.unique())), 'NFLAG_LAST_APPL_IN_DAY':(lambda x: len(x.unique())),
       'RATE_DOWN_PAYMENT':np.mean, 'RATE_INTEREST_PRIMARY':np.mean,
       'RATE_INTEREST_PRIVILEGED':np.mean, 'NAME_CASH_LOAN_PURPOSE':(lambda x: len(x.unique())),
       'NAME_CONTRACT_STATUS':(lambda x:x.map({'Approved':1,'Canceled':0,'Refused':0,'Unused offer':1}).mean()), 'DAYS_DECISION':np.mean, 'NAME_PAYMENT_TYPE':(lambda x: len(x.unique())),
       'CODE_REJECT_REASON':(lambda x: len(x.unique())), 'NAME_TYPE_SUITE':(lambda x: len(x.unique())), 'NAME_CLIENT_TYPE':(lambda x: len(x.unique())),
       'NAME_GOODS_CATEGORY':(lambda x: len(x.unique())), 'NAME_PORTFOLIO':(lambda x: len(x.unique())), 'NAME_PRODUCT_TYPE':(lambda x: len(x.unique())),
       'CHANNEL_TYPE':(lambda x: len(x.unique())), 'SELLERPLACE_AREA':(lambda x: len(x.unique())), 'NAME_SELLER_INDUSTRY':(lambda x: len(x.unique())),
       'CNT_PAYMENT':'sum', 'NAME_YIELD_GROUP':(lambda x: len(x.unique())), 'PRODUCT_COMBINATION':(lambda x: len(x.unique())),
       'DAYS_FIRST_DRAWING':'sum', 'DAYS_FIRST_DUE':'sum', 'DAYS_LAST_DUE_1ST_VERSION':'sum',
       'DAYS_LAST_DUE':'sum', 'DAYS_TERMINATION':'sum', 'NFLAG_INSURED_ON_APPROVAL':np.mean})

In [6]:
df_prevapp_pivot.head()

,AMT_ANNUITY,AMT_APPLICATION,AMT_CREDIT,AMT_DOWN_PAYMENT,AMT_GOODS_PRICE,CHANNEL_TYPE,CNT_PAYMENT,CODE_REJECT_REASON,DAYS_DECISION,DAYS_FIRST_DRAWING,...,NAME_YIELD_GROUP,NFLAG_INSURED_ON_APPROVAL,NFLAG_LAST_APPL_IN_DAY,PRODUCT_COMBINATION,RATE_DOWN_PAYMENT,RATE_INTEREST_PRIMARY,RATE_INTEREST_PRIVILEGED,SELLERPLACE_AREA,SK_ID_PREV,WEEKDAY_APPR_PROCESS_START
SK_ID_CURR,,,,,,,,,,,,,,,,,,,,,
100001,3951.000,24835.5,23787.0,2520.0,24835.5,1,8.0,1,-1740.000000,365243.0,...,1,0.000000,1,1,0.104326,0.0,0.0,1,1,1
100002,9251.775,179055.0,179055.0,0.0,179055.0,1,24.0,1,-606.000000,365243.0,...,1,0.000000,1,1,0.000000,0.0,0.0,1,1,1
100003,169661.970,1306309.5,1452573.0,6885.0,1306309.5,3,30.0,1,-1305.000000,1095729.0,...,2,0.666667,1,3,0.033354,0.0,0.0,3,3,3
100004,5357.250,24282.0,20106.0,4860.0,24282.0,1,4.0,1,-815.000000,365243.0,...,1,0.000000,1,1,0.212008,0.0,0.0,1,1,1
100007,73672.830,903181.5,999832.5,6781.5,903181.5,4,124.0,1,-1222.833333,1826215.0,...,2,0.600000,1,4,0.053172,0.0,0.0,4,6,5

In [7]:
df = df_application_train.merge(df_prevapp_pivot,on =['SK_ID_CURR'],suffixes=('_app_train','_prev_app'))

In [8]:
df.head()

,TARGET,NAME_CONTRACT_TYPE_app_train,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT_app_train,AMT_ANNUITY_app_train,AMT_GOODS_PRICE_app_train,...,NAME_YIELD_GROUP,NFLAG_INSURED_ON_APPROVAL,NFLAG_LAST_APPL_IN_DAY,PRODUCT_COMBINATION,RATE_DOWN_PAYMENT,RATE_INTEREST_PRIMARY,RATE_INTEREST_PRIVILEGED,SELLERPLACE_AREA,SK_ID_PREV,WEEKDAY_APPR_PROCESS_START_prev_app
SK_ID_CURR,,,,,,,,,,,,,,,,,,,,,
100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,351000.0,...,1,0.000000,1,1,0.000000,0.0,0.0,1,1,1
100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,1129500.0,...,2,0.666667,1,3,0.033354,0.0,0.0,3,3,3
100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,135000.0,...,1,0.000000,1,1,0.212008,0.0,0.0,1,1,1
100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,513000.0,...,2,0.600000,1,4,0.053172,0.0,0.0,4,6,5
100009,0,Cash loans,F,Y,Y,1,171000.0,1560726.0,41301.0,1395000.0,...,4,0.000000,1,3,0.126602,0.0,0.0,4,7,4

In [9]:
df_bureau.columns

Index(['SK_ID_BUREAU', 'CREDIT_ACTIVE', 'CREDIT_CURRENCY', 'DAYS_CREDIT',
       'CREDIT_DAY_OVERDUE', 'DAYS_CREDIT_ENDDATE', 'DAYS_ENDDATE_FACT',
       'AMT_CREDIT_MAX_OVERDUE', 'CNT_CREDIT_PROLONG', 'AMT_CREDIT_SUM',
       'AMT_CREDIT_SUM_DEBT', 'AMT_CREDIT_SUM_LIMIT', 'AMT_CREDIT_SUM_OVERDUE',
       'CREDIT_TYPE', 'DAYS_CREDIT_UPDATE', 'AMT_ANNUITY'],
      dtype='object')

In [10]:
df_bureau_pivot = pd.pivot_table(df_bureau,values=df_bureau.columns,index='SK_ID_CURR',aggfunc={'SK_ID_BUREAU':'count','CREDIT_ACTIVE':'count','CREDIT_CURRENCY':(lambda x: len(x.unique())),'DAYS_CREDIT':np.min,'CREDIT_DAY_OVERDUE':'sum','DAYS_CREDIT_ENDDATE':'sum', 'DAYS_ENDDATE_FACT':'sum', 'AMT_CREDIT_MAX_OVERDUE':'sum', 'CNT_CREDIT_PROLONG':'sum', 'AMT_CREDIT_SUM':'sum','AMT_CREDIT_SUM_DEBT':'sum', 'AMT_CREDIT_SUM_LIMIT':'sum', 'AMT_CREDIT_SUM_OVERDUE':'sum',
       'CREDIT_TYPE':(lambda x: len(x.unique())), 'DAYS_CREDIT_UPDATE':np.min, 'AMT_ANNUITY':'sum'})

df = df.merge(df_bureau_pivot,on =['SK_ID_CURR'],suffixes=('_curr','_bur'))

In [11]:
df.info

<bound method DataFrame.info of             TARGET NAME_CONTRACT_TYPE_app_train CODE_GENDER FLAG_OWN_CAR  \
SK_ID_CURR
100002           1                   Cash loans           M            N
100003           0                   Cash loans           F            N
100004           0              Revolving loans           M            Y
100007           0                   Cash loans           M            N
100009           0                   Cash loans           F            Y
100010           0                   Cash loans           M            Y
100014           0                   Cash loans           F            N
100015           0                   Cash loans           F            N
100016           0                   Cash loans           F            N
100017           0                   Cash loans           M            Y
100018           0                   Cash loans           F            N
100019           0                   Cash loans           M            Y
100020           0                   Cash loans           M            N
100021           0              Revolving loans           F            N
100022           0              Revolving loans           F            N
100023           0                   Cash loans           F            N
100029           0                   Cash loans           M            Y
100030           0                   Cash loans           F            N
100032           0                   Cash loans           M            N
100033           0                   Cash loans           M            Y
100034           0              Revolving loans           M            N
100037           0                   Cash loans           F            N
100040           0                   Cash loans           F            N
100041           0                   Cash loans           F            N
100043           0                   Cash loans           F            N
100044           0                   Cash loans           M            N
100045           0                   Cash loans           F            N
100046           0              Revolving loans           M            Y
100047           1                   Cash loans           M            N
100049           1                   Cash loans           F            N
...            ...                          ...         ...          ...
456210           0                   Cash loans           F            N
456212           0                   Cash loans           F            N
456213           0                   Cash loans           F            Y
456215           1                   Cash loans           F            N
456216           0                   Cash loans           F            N
456218           0                   Cash loans           F            N
456219           0                   Cash loans           F            N
456225           1                   Cash loans           M            N
456226           0                   Cash loans           F            Y
456228           0                   Cash loans           F            Y
456230           0                   Cash loans           F            Y
456232           0                   Cash loans           F            N
456233           1                   Cash loans           F            N
456234           0                   Cash loans           M            N
456235           0                   Cash loans           M            Y
456236           0                   Cash loans           M            Y
456238           0                   Cash loans           M            Y
456239           0                   Cash loans           M            Y
456242           0                   Cash loans           M            Y
456243           0                   Cash loans           F            N
456245           0                   Cash loans           F            N
456246           0                   Cash loans           F            N
456247           0                   Cash loans           F            N
456248           0                   Cash loans           F            N
456249           0                   Cash loans           F            N
456251           0                   Cash loans           M            N
456252           0                   Cash loans           F            N
456253           0                   Cash loans           F            N
456254           1                   Cash loans           F            N
456255           0                   Cash loans           F            N

           FLAG_OWN_REALTY  CNT_CHILDREN  AMT_INCOME_TOTAL  \
SK_ID_CURR
100002                   Y             0        202500.000
100003                   N             0        270000.000
100004                   Y             0         67500.000
100007                   Y             0        121500.000
100009                   Y             1        171000.000
100010                   Y             0        360000.000
100014                   Y             1        112500.000
100015                   Y             0         38419.155
100016                   Y             0         67500.000
100017                   N             1        225000.000
100018                   Y             0        189000.000
100019                   Y             0        157500.000
100020                   N             0        108000.000
100021                   Y             1         81000.000
100022                   Y             0        112500.000
100023                   Y             1         90000.000
100029                   N             2        135000.000
100030                   Y             0         90000.000
100032                   Y             1        112500.000
100033                   Y             0        270000.000
100034                   Y             0         90000.000
100037                   N             0         90000.000
100040                   Y             0        135000.000
100041                   N             0        112500.000
100043                   Y             2        198000.000
100044                   Y             0        121500.000
100045                   Y             0         99000.000
100046                   Y             0        180000.000
100047                   Y             0        202500.000
100049                   N             0        135000.000
...                    ...           ...               ...
456210                   Y             0         90000.000
456212                   Y             1        135000.000
456213                   Y             1         90000.000
456215                   N             1        144000.000
456216                   N             2        135000.000
456218                   Y             0        225000.000
456219                   Y             1        112500.000
456225                   Y             0        225000.000
456226                   Y             0        225000.000
456228                   N             0        540000.000
456230                   Y             1        292500.000
456232                   N             0        157500.000
456233                   Y             0        225000.000
456234                   Y             0         81000.000
456235                   Y             2         90000.000
456236                   Y             0        585000.000
456238                   N             1        270000.000
456239                   N             0        180000.000
456242                   Y             0        198000.000
456243                   Y             0         81000.000
456245                   Y             3         81000.000
456246                   Y             1         94500.000
456247                   Y             0        112500.000
456248                   Y             0        153000.000
456249                   Y             0        112500.000
456251                   N             0        157500.000
456252                   Y             0         72000.000
456253                   Y             0        153000.000
456254                   Y             0        171000.000
456255                   N             0        157500.000

            AMT_CREDIT_app_train  AMT_ANNUITY_app_train  \
SK_ID_CURR
100002                  406597.5                24700.5
100003                 1293502.5                35698.5
100004                  135000.0                 6750.0
100007                  513000.0                21865.5
100009                 1560726.0                41301.0
100010                 1530000.0                42075.0
100014                  652500.0                21177.0
100015                  148365.0                10678.5
100016                   80865.0                 5881.5
100017                  918468.0                28966.5
100018                  773680.5                32778.0
100019                  299772.0                20160.0
100020                  509602.5                26149.5
100021                  270000.0                13500.0
100022                  157500.0                 7875.0
100023                  544491.0                17563.5
100029                  247500.0                12703.5
100030                  225000.0                11074.5
100032                  327024.0                23827.5
100033                  790830.0                57676.5
100034                  180000.0                 9000.0
100037                  199008.0                20893.5
100040                 1125000.0                32895.0
100041                  450000.0                44509.5
100043                  641173.5                23157.0
100044                  454500.0                15151.5
100045                  247275.0                17338.5
100046                  540000.0                27000.0
100047                 1193580.0                35028.0
100049                  288873.0                16258.5
...                          ...                    ...
456210                  270000.0                10309.5
456212                  808650.0                23773.5
456213                  258709.5                20439.0
456215                 1303200.0                46809.0
456216                 1762110.0                48456.0
456218                 1125000.0                40540.5
456219                  521280.0                31630.5
456225                  297000.0                19975.5
456226                  500566.5                34969.5
456228                  545040.0                35617.5
456230                  355536.0                18283.5
456232                  135000.0                13351.5
456233                  521280.0                23089.5
456234                  135000.0                 9148.5
456235                 1078200.0                31522.5
456236                 1575000.0                43443.0
456238                  479700.0                46858.5
456239                  808650.0                23773.5
456242                 1312110.0                52168.5
456243                  225000.0                12694.5
456245                  269550.0                11871.0
456246                  225000.0                10620.0
456247                  345510.0                17770.5
456248                  331920.0                16096.5
456249                  225000.0                22050.0
456251                  254700.0                27558.0
456252                  269550.0                12001.5
456253                  677664.0                29979.0
456254                  370107.0                20205.0
456255                  675000.0                49117.5

            AMT_GOODS_PRICE_app_train                 ...                   \
SK_ID_CURR                                            ...
100002                       351000.0                 ...
100003                      1129500.0                 ...
100004                       135000.0                 ...
100007                       513000.0                 ...
100009                      1395000.0                 ...
100010                      1530000.0                 ...
100014                       652500.0                 ...
100015                       135000.0                 ...
100016                        67500.0                 ...
100017                       697500.0                 ...
100018                       679500.0                 ...
100019                       247500.0                 ...
100020                       387000.0                 ...
100021                       270000.0                 ...
100022                       157500.0                 ...
100023                       454500.0                 ...
100029                       247500.0                 ...
100030                       225000.0                 ...
100032                       270000.0                 ...
100033                       675000.0                 ...
100034                       180000.0                 ...
100037                       180000.0                 ...
100040                      1125000.0                 ...
100041                       450000.0                 ...
100043                       553500.0                 ...
100044                       454500.0                 ...
100045                       225000.0                 ...
100046                       540000.0                 ...
100047                       855000.0                 ...
100049                       238500.0                 ...
...                               ...                 ...
456210                       270000.0                 ...
456212                       675000.0                 ...
456213                       234000.0                 ...
456215                      1125000.0                 ...
456216                      1575000.0                 ...
456218                      1125000.0                 ...
456219                       450000.0                 ...
456225                       297000.0                 ...
456226                       472500.0                 ...
456228                       450000.0                 ...
456230                       270000.0                 ...
456232                       135000.0                 ...
456233                       450000.0                 ...
456234                       135000.0                 ...
456235                       900000.0                 ...
456236                      1575000.0                 ...
456238                       450000.0                 ...
456239                       675000.0                 ...
456242                      1125000.0                 ...
456243                       225000.0                 ...
456245                       225000.0                 ...
456246                       225000.0                 ...
456247                       247500.0                 ...
456248                       225000.0                 ...
456249                       225000.0                 ...
456251                       225000.0                 ...
456252                       225000.0                 ...
456253                       585000.0                 ...
456254                       319500.0                 ...
456255                       675000.0                 ...

           NAME_YIELD_GROUP NFLAG_INSURED_ON_APPROVAL NFLAG_LAST_APPL_IN_DAY  \
SK_ID_CURR
100002                    1                  0.000000                      1
100003                    2                  0.666667                      1
100004                    1                  0.000000                      1
100007                    2                  0.600000                      1
100009                    4                  0.000000                      1
100010                    1                  0.000000                      1
100014                    2                  0.000000                      1
100015                    1                  1.000000                      1
100016                    2                  0.333333                      1
100017                    2                  0.500000                      1
100018                    2                  0.000000                      1
100019                    1                  0.000000                      1
100020                    2                  0.000000                      1
100021                    3                  0.000000                      1
100022                    1                  1.000000                      1
100023                    4                  0.500000                      1
100029                    1                  0.000000                      1
100030                    4                  0.000000                      1
100032                    1                  0.000000                      1
100033                    1                  0.000000                      1
100034                    2                  0.500000                      1
100037                    3                  0.333333                      1
100040                    1                  0.000000                      1
100041                    1                  0.500000                      1
100043                    3                  0.500000                      1
100044                    3                  0.500000                      1
100045                    2                  0.500000                      1
100046                    1                  1.000000                      1
100047                    3                  0.333333                      1
100049                    3                  0.600000                      1
...                     ...                       ...                    ...
456210                    4                  0.250000                      1
456212                    2                  0.500000                      1
456213                    3                  0.000000                      1
456215                    3                  0.666667                      1
456216                    2                  1.000000                      1
456218                    1                  1.000000                      1
456219                    2                  0.000000                      1
456225                    4                  1.000000                      1
456226                    1                  0.000000                      1
456228                    3                  0.666667                      1
456230                    4                  0.333333                      1
456232                    2                  0.000000                      1
456233                    2                  0.500000                      1
456234                    2                  0.000000                      1
456235                    4                  0.250000                      1
456236                    2                  0.666667                      1
456238                    2                  0.000000                      1
456239                    2                  0.500000                      1
456242                    3                  0.250000                      1
456243                    4                  0.000000                      1
456245                    2                  1.000000                      1
456246                    2                  0.000000                      1
456247                    3                  0.250000                      1
456248                    4                  0.750000                      1
456249                    2                  0.000000                      1
456251                    1                  0.000000                      1
456252                    1                  1.000000                      1

In [12]:
df_installment_payments_pivot = pd.pivot_table(df_installment_payments,values=df_installment_payments.columns,index='SK_ID_CURR',aggfunc={'SK_ID_PREV':(lambda x: len(x.unique())),'NUM_INSTALMENT_VERSION':'sum', 'NUM_INSTALMENT_NUMBER':'sum','DAYS_INSTALMENT':'sum', 'DAYS_ENTRY_PAYMENT':'sum', 'AMT_INSTALMENT':'sum','AMT_PAYMENT':'sum'})

In [13]:
df_installment_payments_pivot['AMT_INSTAL_PAY_DIFF'] = df_installment_payments_pivot['AMT_INSTALMENT']-df_installment_payments_pivot['AMT_PAYMENT']
df_installment_payments_pivot['NUM_INSTAL_VERSION_NUM_DIFF'] = df_installment_payments_pivot['NUM_INSTALMENT_VERSION']-df_installment_payments_pivot['NUM_INSTALMENT_NUMBER']
df_installment_payments_pivot['DAY_INSTAL_ENTRY_DIFF'] = df_installment_payments_pivot['DAYS_INSTALMENT']-df_installment_payments_pivot['DAYS_ENTRY_PAYMENT']

In [14]:
df = df.merge(df_installment_payments_pivot,on =['SK_ID_CURR'],suffixes=('_curr2','_instpay'))

            TARGET NAME_CONTRACT_TYPE_app_train CODE_GENDER FLAG_OWN_CAR  \
SK_ID_CURR
100002           1                   Cash loans           M            N
100003           0                   Cash loans           F            N
100004           0              Revolving loans           M            Y
100007           0                   Cash loans           M            N
100009           0                   Cash loans           F            Y
100010           0                   Cash loans           M            Y
100014           0                   Cash loans           F            N
100015           0                   Cash loans           F            N
100016           0                   Cash loans           F            N
100017           0                   Cash loans           M            Y
100018           0                   Cash loans           F            N
100019           0                   Cash loans           M            Y
100020           0                   Cash loans           M            N
100021           0              Revolving loans           F            N
100022           0              Revolving loans           F            N
100023           0                   Cash loans           F            N
100029           0                   Cash loans           M            Y
100030           0                   Cash loans           F            N
100032           0                   Cash loans           M            N
100033           0                   Cash loans           M            Y
100034           0              Revolving loans           M            N
100037           0                   Cash loans           F            N
100040           0                   Cash loans           F            N
100041           0                   Cash loans           F            N
100043           0                   Cash loans           F            N
100044           0                   Cash loans           M            N
100045           0                   Cash loans           F            N
100046           0              Revolving loans           M            Y
100047           1                   Cash loans           M            N
100049           1                   Cash loans           F            N
...            ...                          ...         ...          ...
456210           0                   Cash loans           F            N
456212           0                   Cash loans           F            N
456213           0                   Cash loans           F            Y
456215           1                   Cash loans           F            N
456216           0                   Cash loans           F            N
456218           0                   Cash loans           F            N
456219           0                   Cash loans           F            N
456225           1                   Cash loans           M            N
456226           0                   Cash loans           F            Y
456228           0                   Cash loans           F            Y
456230           0                   Cash loans           F            Y
456232           0                   Cash loans           F            N
456233           1                   Cash loans           F            N
456234           0                   Cash loans           M            N
456235           0                   Cash loans           M            Y
456236           0                   Cash loans           M            Y
456238           0                   Cash loans           M            Y
456239           0                   Cash loans           M            Y
456242           0                   Cash loans           M            Y
456243           0                   Cash loans           F            N
456245           0                   Cash loans           F            N
456246           0                   Cash loans           F            N
456247           0                   Cash loans           F            N
456248           0                   Cash loans           F            N
456249           0                   Cash loans           F            N
456251           0                   Cash loans           M            N
456252           0                   Cash loans           F            N
456253           0                   Cash loans           F            N
456254           1                   Cash loans           F            N
456255           0                   Cash loans           F            N

           FLAG_OWN_REALTY  CNT_CHILDREN  AMT_INCOME_TOTAL  \
SK_ID_CURR
100002                   Y             0        202500.000
100003                   N             0        270000.000
100004                   Y             0         67500.000
100007                   Y             0        121500.000
100009                   Y             1        171000.000
100010                   Y             0        360000.000
100014                   Y             1        112500.000
100015                   Y             0         38419.155
100016                   Y             0         67500.000
100017                   N             1        225000.000
100018                   Y             0        189000.000
100019                   Y             0        157500.000
100020                   N             0        108000.000
100021                   Y             1         81000.000
100022                   Y             0        112500.000
100023                   Y             1         90000.000
100029                   N             2        135000.000
100030                   Y             0         90000.000
100032                   Y             1        112500.000
100033                   Y             0        270000.000
100034                   Y             0         90000.000
100037                   N             0         90000.000
100040                   Y             0        135000.000
100041                   N             0        112500.000
100043                   Y             2        198000.000
100044                   Y             0        121500.000
100045                   Y             0         99000.000
100046                   Y             0        180000.000
100047                   Y             0        202500.000
100049                   N             0        135000.000
...                    ...           ...               ...
456210                   Y             0         90000.000
456212                   Y             1        135000.000
456213                   Y             1         90000.000
456215                   N             1        144000.000
456216                   N             2        135000.000
456218                   Y             0        225000.000
456219                   Y             1        112500.000
456225                   Y             0        225000.000
456226                   Y             0        225000.000
456228                   N             0        540000.000
456230                   Y             1        292500.000
456232                   N             0        157500.000
456233                   Y             0        225000.000
456234                   Y             0         81000.000
456235                   Y             2         90000.000
456236                   Y             0        585000.000
456238                   N             1        270000.000
456239                   N             0        180000.000
456242                   Y             0        198000.000
456243                   Y             0         81000.000
456245                   Y             3         81000.000
456246                   Y             1         94500.000
456247                   Y             0        112500.000
456248                   Y             0        153000.000
456249                   Y             0        112500.000
456251                   N             0        157500.000
456252                   Y             0         72000.000
456253                   Y             0        153000.000
456254                   Y             0        171000.000
456255                   N             0        157500.000

            AMT_CREDIT_app_train  AMT_ANNUITY_app_train  \
SK_ID_CURR
100002                  406597.5                24700.5
100003                 1293502.5                35698.5
100004                  135000.0                 6750.0
100007                  513000.0                21865.5
100009                 1560726.0                41301.0
100010                 1530000.0                42075.0
100014                  652500.0                21177.0
100015                  148365.0                10678.5
100016                   80865.0                 5881.5
100017                  918468.0                28966.5
100018                  773680.5                32778.0
100019                  299772.0                20160.0
100020                  509602.5                26149.5
100021                  270000.0                13500.0
100022                  157500.0                 7875.0
100023                  544491.0                17563.5
100029                  247500.0                12703.5
100030                  225000.0                11074.5
100032                  327024.0                23827.5
100033                  790830.0                57676.5
100034                  180000.0                 9000.0
100037                  199008.0                20893.5
100040                 1125000.0                32895.0
100041                  450000.0                44509.5
100043                  641173.5                23157.0
100044                  454500.0                15151.5
100045                  247275.0                17338.5
100046                  540000.0                27000.0
100047                 1193580.0                35028.0
100049                  288873.0                16258.5
...                          ...                    ...
456210                  270000.0                10309.5
456212                  808650.0                23773.5
456213                  258709.5                20439.0
456215                 1303200.0                46809.0
456216                 1762110.0                48456.0
456218                 1125000.0                40540.5
456219                  521280.0                31630.5
456225                  297000.0                19975.5
456226                  500566.5                34969.5
456228                  545040.0                35617.5
456230                  355536.0                18283.5
456232                  135000.0                13351.5
456233                  521280.0                23089.5
456234                  135000.0                 9148.5
456235                 1078200.0                31522.5
456236                 1575000.0                43443.0
456238                  479700.0                46858.5
456239                  808650.0                23773.5
456242                 1312110.0                52168.5
456243                  225000.0                12694.5
456245                  269550.0                11871.0
456246                  225000.0                10620.0
456247                  345510.0                17770.5
456248                  331920.0                16096.5
456249                  225000.0                22050.0
456251                  254700.0                27558.0
456252                  269550.0                12001.5
456253                  677664.0                29979.0
456254                  370107.0                20205.0
456255                  675000.0                49117.5

            AMT_GOODS_PRICE_app_train          ...           AMT_INSTALMENT  \
SK_ID_CURR                                     ...
100002                       351000.0          ...               219625.695
100003                      1129500.0          ...              1618864.650
100004                       135000.0          ...                21288.465
100007                       513000.0          ...               835985.340
100009                      1395000.0          ...               487995.120
100010                      1530000.0          ...               274492.080
100014                       652500.0          ...               224697.915
100015                       135000.0          ...                76586.805
100016                        67500.0          ...               794747.340
100017                       697500.0          ...               405267.615
100018                       679500.0          ...              1178751.420
100019                       247500.0          ...               120723.750
100020                       387000.0          ...                92780.460
100021                       270000.0          ...               208357.515
100022                       157500.0          ...                47361.825
100023                       454500.0          ...               493547.085
100029                       247500.0          ...               135668.385
100030                       225000.0          ...                70923.870
100032                       270000.0          ...                55375.335
100033                       675000.0          ...               108212.085
100034                       180000.0          ...               252855.765
100037                       180000.0          ...               422786.520
100040                      1125000.0          ...               636122.475
100041                       450000.0          ...               121789.980
100043                       553500.0          ...              1304067.510
100044                       454500.0          ...              1974011.625
100045                       225000.0          ...              2076068.790
100046                       540000.0          ...               482640.795
100047                       855000.0          ...               268547.580
100049                       238500.0          ...               293628.600
...                               ...          ...                      ...
456210                       270000.0          ...               810339.975
456212                       675000.0          ...                79235.820
456213                       234000.0          ...              2222601.300
456215                      1125000.0          ...              3868221.060
456216                      1575000.0          ...              1346009.535
456218                      1125000.0          ...              1071065.610
456219                       450000.0          ...               170130.375
456225                       297000.0          ...              2168538.255
456226                       472500.0          ...               645787.935
456228                       450000.0          ...              2487791.340
456230                       270000.0          ...               787136.895
456232                       135000.0          ...               258163.380
456233                       450000.0          ...               167287.365
456234                       135000.0          ...               151418.745
456235                       900000.0          ...               215975.340
456236                      1575000.0          ...              1580075.865
456238                       450000.0          ...                99827.325
456239                       675000.0          ...               862947.765
456242                      1125000.0          ...               593616.195
456243                       225000.0          ...                81696.015
456245                       225000.0          ...               113684.085
456246                       225000.0          ...               172197.450
456247                       247500.0          ...               761822.325
456248                       225000.0          ...              2052478.080
456249                       225000.0          ...               273256.920
456251                       225000.0          ...                52450.470
456252                       225000.0          ...                60419.205
456253                       585000.0          ...                61595.910
456254                       319500.0          ...               194556.825
456255                       675000.0          ...              3068388.810

            AMT_PAYMENT DAYS_ENTRY_PAYMENT DAYS_INSTALMENT  \
SK_ID_CURR
100002       219625.695            -5993.0         -5605.0
100003      1618864.650           -34633.0        -34454.0
100004        21288.465            -2285.0         -2262.0
100007       806127.975           -68128.0        -67888.0
100009       487995.120           -44085.0        -43647.0
100010       274492.080            -9159.0         -9040.0
100014       166880.745           -11105.0        -10949.0
100015        76586.805           -22379.0        -22250.0
100016       620981.820           -96021.0        -95919.0
100017       405267.615           -28876.0        -28550.0
100018      1178751.420           -24101.0        -23936.0
100019       165093.030            -6616.0         -6372.0
100020        92780.460            -3155.0         -3043.0
100021       208357.515           -23534.0        -23251.0
100022        47361.825             -997.0          -833.0
100023       493547.085           -42195.0        -41788.0
100029       135668.385            -1071.0          -992.0
100030        70923.870            -4384.0         -4253.0
100032        47463.030            -9983.0         -9662.0
100033        69411.645           -19167.0        -19694.0
100034       311355.765            -4152.0         -3962.0
100037       422786.520           -27443.0        -27040.0
100040       498400.875           -40739.0        -40482.0
100041       107185.815           -34454.0        -33758.0
100043      1251128.070           -68849.0        -67236.0
100044      1916203.995          -121860.0       -120642.0
100045      2049033.960           -79188.0        -78861.0
100046       482640.795            -4582.0         -4573.0
100047       268547.580           -37762.0        -37680.0
100049       277419.150           -50138.0        -49786.0
...                 ...                ...             ...
456210       810339.975           -76360.0        -75551.0
456212        74818.125           -52662.0        -52638.0
456213      2186114.490           -57618.0        -57089.0
456215      3708184.050          -297769.0       -297117.0
456216      1306331.685           -35196.0        -35064.0
456218      1071065.610            -3358.0         -3312.0
456219       170130.375            -5407.0         -5123.0
456225      1847663.505          -217607.0       -217941.0
456226       645787.935            -2197.0         -2132.0
456228      2366228.520          -117657.0       -117121.0
456230       787136.895           -23958.0        -23652.0
456232       258163.380            -8316.0         -7953.0
456233       167287.365            -3741.0         -3333.0
456234       146464.605           -17638.0        -17508.0
456235       215975.340           -13938.0        -13555.0
456236      1464715.215          -262584.0       -262147.0
456238        99827.325            -1294.0         -1116.0
456239       862947.765          -195223.0       -194737.0
456242       593616.195           -14299.0        -13725.0
456243        81696.015           -15613.0        -15139.0
456245       113684.085            -4192.0         -3750.0
456246       172197.450           -12318.0        -12146.0
456247       761822.325          -215206.0       -214669.0
456248      2018808.720           -45857.0        -45624.0
456249       273256.920           -15990.0        -15960.0
456251        52450.470            -1094.0          -840.0
456252        60419.205           -14363.0        -14346.0